@import "./utils/libs";
@import "./utils/fonts";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

//? Components

@import "../../js/components/chat/chat.scss";
//? end Components

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}
@import "./global/media";
